    <li><a href="{{ '/' | relative_url }}">Home</a></li>
    <li><a href="{{ '/GettingStarted/GettingStarted' | relative_url }}">Getting Started</a></li>
    <li><a href="{{ '/ServiceCases/ServiceCases' | relative_url }}">Service Cases and Activities</a></li>
    <li><a href="{{ '/SalesLeads/SalesLeads' | relative_url }}">Sales Leads</a></li>
    <li><a href="{{ '/Customers/CustomersAndContacts' | relative_url }}">Customers and Contacts</a></li>
    <li><a href="{{ '/Resources/WhatsNew' | relative_url }}">Release Notes</a></li>
    <li><a href="{{ '/FeatureRequest' | relative_url }}">Feature Request</a></li>
